<div class="page-content-wrapper animated fadeInRight">
  <div class="page-content">

    <div class="wrapper-content">
      <!-- stat timeline and feed  -->
      <div class="row mt-2">

        <!-- projects list -->
        <div class="clearfix"> </div>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>DEPARTMENT TYPES</h5>
              <div class="ibox-tools"> <a class="btn btn-primary aqua" href="#" class="btn btn-primary" data-toggle="modal" data-target=".modal-m">Create Type</a>                </div>
            </div>






            <div class="ibox-content" id="demo1">
              <div class="widgets-container">
                <div class="row m-b-sm m-t-sm">
                  <div class="col-md-1">
                    <button class="red btn btn-outline btn-sm" id="loading-example-btn" type="button"><i class="fa fa-refresh"></i> Refresh</button>
                  </div>
                  <div class="col-md-11">
                    <div class="input-group">
                      <input id="search-projects" type="text" class="input-sm form-control" placeholder="Search">
                      <span class="input-group-btn">
                  <button class="btn btn-sm aqua" type="button"> Go!</button>
                  </span></div>
                  </div>
                </div>
                <!-- All projects assigned to this account -->
                <div class="project-list mt-2">
                  <table id="proList" class="table table-hover responsive nowrap table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th> Date</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th class="project-actions">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1 </td>
                        <td class="project-title"><a href="#"> Division</a> <br>
                          <small>Tech, Finance, transportation etc.</small> </td>
                        <td>15/09/2019</td>
                        <td>Seun Wizkid</td>
                        <td class="project-completion"><small>Completed</small>
                          <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 100%;"></div>
                          </div>
                        </td>
                        <td class="project-status"><span class="label btn red">High</span> </td>
                        <td class="project-actions"><a class="aqua btn btn-outline btn-xs" href="#"><i class="fa fa-folder"></i> View </a> <a class="red btn btn-outline btn-xs"
                            href="#"><i class="fa fa-pencil"></i> Edit </a> </td>
                      </tr>
                      <tr>
                        <td>2 </td>
                        <td class="project-title"><a href="#"> Department</a> <br>
                          <small>Programming, Testers, Analysts, Domains, </small> </td>
                        <td>15/09/2019</td>
                        <td>Seun Wizkid</td>
                        <td class="project-completion"><small>Completed</small>
                          <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 100%;"></div>
                          </div>
                        </td>
                        <td class="project-status"><span class="label btn red">High</span> </td>
                        <td class="project-actions"><a class="aqua btn btn-outline btn-xs" href="#"><i class="fa fa-folder"></i> View </a> <a class="red btn btn-outline btn-xs"
                            href="#"><i class="fa fa-pencil"></i> Edit </a> </td>
                      </tr>
                      <tr>
                        <td>3 </td>
                        <td class="project-title"><a href="#"> Unit</a> <br>
                          <small>Java, Angular, PHP</small> </td>
                        <td>15/09/2019</td>
                        <td>Seun Wizkid</td>
                        <td class="project-completion"><small>Completed</small>
                          <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 100%;"></div>
                          </div>
                        </td>
                        <td class="project-status"><span class="label btn red">High</span> </td>
                        <td class="project-actions"><a class="aqua btn btn-outline btn-xs" href="#"><i class="fa fa-folder"></i> View </a> <a class="red btn btn-outline btn-xs"
                            href="#"><i class="fa fa-pencil"></i> Edit </a> </td>
                      </tr>
                      <tr>
                        <td>3 </td>
                        <td class="project-title"><a href="#"> Team</a> <br>
                          <small>BAP, HCM, Payment</small> </td>
                        <td>15/09/2019</td>
                        <td>Seun Wizkid</td>
                        <td class="project-completion"><small>Completed</small>
                          <div class="progress progress-mini">
                            <div class="progress-bar" style="width: 100%;"></div>
                          </div>
                        </td>
                        <td class="project-status"><span class="label btn red">High</span> </td>
                        <td class="project-actions"><a class="aqua btn btn-outline btn-xs" href="#"><i class="fa fa-folder"></i> View </a> <a class="red btn btn-outline btn-xs"
                            href="#"><i class="fa fa-pencil"></i> Edit </a> </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>

        <div class="footer">

          <div> <strong>Copyright</strong> <a href="#">NIBSS</a> &copy; 2017 </div>

        </div>