
<div class="error-container">
  <div class="push-sm-2 push-md-2 push-lg-2 col-lg-8 col-md-8 col-sm-8">
    <div class="error-box" style="padding-top:100px">
      <div class="error-body  animated fadeInDown" style="color:#fff">
        <div class="col-middle">
          <div class="text-center text-center">
            <h2 class="error-number">Oops!</h2>
            <h3 class="error-number">404</h3>
            <h2>Sorry but we couldn't find this page</h2>
            <p>This page you are looking for does not exist.
            </p>
            <div class="mid_center">
              <button (click)="goBackUrl()" class="btn btn-success">
                <span class="glyphicon glyphicon-chevron-left"></span>Previous Page
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="clearfix"></div>
